.appointment-container {
  max-width: 900px;
  margin: auto;
  font-family: Arial, sans-serif;
}

form select, form button {
  /* margin: 10px 0; */
  /* padding: 8px; */
  font-size: 16px;
}

.calendar-time-grid {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  overflow-x: auto;
  margin-bottom: 15px;
}

.grid-row {
  display: flex;
}

.header-row {
  /* background-color: #f0f0f0; */
  font-weight: bold;
}

.time-cell {
  width: 60px;
  min-width: 60px;
  border-right: 1px solid #ddd;
  text-align: center;
  padding: 5px 0;
  background-color: #fafafa;
  font-size: 12px;
}

.header-cell {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  background-color: #f0f0f0;
  width: 100px;
  min-width: 100px;
  text-align: center;
  padding: 5px 0;
}

.day-cell {
  border-right: 1px solid #ddd;
}

.time-slot-cell {
  width: 100px;
  min-width: 100px;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  text-align: center;
  padding: 10px 0;
  font-size: 12px;
  user-select: none;
  transition: background-color 0.3s;
  line-height: 1.2;
}

.time-slot-cell.available:hover {
  background-color: #d0f0d0;
}

.time-slot-cell.booked {
  background-color: #f08080;
  cursor: not-allowed;
  color: white;
}

.time-slot-cell.selected {
  background-color: #3f51b5;
  color: white;
}
.month-labels {
  display: grid;
  grid-template-columns: 60px repeat(30, 100px);
  font-weight: bold;
  text-align: center;
}

.month-header {
  grid-column: span 1;
  padding: 6px 0;
  background-color: #d0e8ff;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  font-weight: bold;
}
